/* Commun à toutes les pages */
body{
    background-color: rgba(255, 166, 0, 0.207);
}

h1{
    text-align: center;
    text-shadow: 1px 5px wheat;
    background: url(tennis-terrebattues.jpg);
    background-size: 100%;
    
}

nav{
    background-color: rgba(255, 166, 0, 0.207);
}



h2{
    text-decoration: underline;
    color: black;
    text-shadow: 3px 2px rgba(150, 240, 15, 0.974);
    text-align: center;
}

.logo{
    align-items: center;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}




/* Page Accueil */


article, aside{
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    
}

img{
    height: 400px;
    width: auto;
    
}

.raquette{
    height: 100px;
    width: 200px;
}

article{
    background-color:rgba(247, 139, 8, 0.434);
    display: flex;
        
}

aside{
    background-color: rgba(157, 255, 9, 0.199);
    
}


li{
 text-align: center;
 font-weight:bold;
 list-style: none;
}

h2{
    background-color: brown;
}


.maps{
    border-radius: 10px;
}

/* Page Equipe */

table, thead, tbody, tr, td{
    border: 1px solid grey;
    color: black;
    margin: auto;

}

thead{
    background-color: gray;
}

tbody{
    background-color: azure;
}

div{
    color: aliceblue;
    text-align: center;
}


/* Page Contact */

.contact{
    color: aliceblue;
    text-align: center;
   

}

.textcontact{
    font-size:xx-large;
}